@import url(../../fonts.googleapis.com/css1a67.css?family=Indie+Flower|Lobster|Poiret+One|Pacifico|Amatic+SC|Bad+Script|Sacramento|Grand+Hotel|Sigmar+One);


.font{
 
}


.animated{
background:  #f8f5c7;
}
.container-titulo h3{
    text-align: center;
color: rgb(204, 55, 55);
text-shadow: none;
box-shadow: none;
}
p {
  line-height: 2rem;
  
}



.justify{
	text-align: justify;
}
.bold{
	font-weight: bold;
 
}
.bold1{
    
	font-weight: bold;
 color: red;
}
@media screen and (max-width: 600px){
	.responsive_n1{
	width: 95%;
	margin-bottom: 10px;
}
}
  /*SECCION DE IMAGENES */
.contenedor-perfil{
    width: auto;
    height: auto;
  }
  
  @keyframes anim {
     0% {
       transform: scaleY(0);
     }
     100% {
       transform: scaleY(1);
     }
   }
  
 .titulop{
     position: relative;
     color: rgb(63, 30, 30);
     text-align: center;
     margin-top: 25px;
     top: 15px;
 
 }
 .contenido-textos h2 span{
    text-align: center;
    background: #f5e4e98f;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 1px;
    font-weight: 30;
    
  }
 
  .contenedor-perfil  p{

    font-size: 20px;
     text-align: center;
     text-shadow: none;
     box-shadow: none;
     padding: 15px;
 }

 
 
 h1{
  margin-bottom: 20px;
  font-size: 30px;
  
  position: relative;
     color: rgb(63, 30, 30);
     text-align: center;
     margin-top: 25px;
     top: 15px;
}

  
 h2{
   padding: 17px;
   margin-bottom: 20px;
   font-size: 20px;
   text-align: justify;
 }
 

 .galeria__columna .img {
  background: rgb(25, 75, 24);
  width: 100%;
  display: block;
  position: relative;

   margin: auto;
  width: 50%;
  height: auto;
  border-radius: 7px;
  cursor: zoom-in;

}


.titudescripcion{
  padding: 10px;
  font-size: 15px;
 text-align: center;
}
.galeria__columna2 .img {
display: none;
}

.galeria__columna{
 
  margin:17px;
  filter: grayscale(0%);
  
}
.galeria__columna:hover{
 filter: grayscale(40%);
}
 
 
 
 
   @media only screen and (max-width: 1550px) {
 
         /* Force table to not be like tables anymore */
         
     .textoA .abrir{
       
       position:relative;
       width: auto;
       top: 2px;
       left: 5px;
    
       
     }
     .contenedor-perfil{
 width: auto;
 height: auto;
 
     }
 
   
    
    
   
.logos_png{
position: relative;
width: 20%;
float: left;
transition: .8s;
opacity: .5;	
}
.logos_png:hover{
	opacity: 1;
	cursor: pointer;
}

.logos_png_f{
position: relative;
width: 18%;
float: left;
transition: .8s;
opacity: .5;	
}

.logos_png_f:hover{
	opacity: 1;
	cursor: pointer;
}

.conte_logos{
    top: -100px;
    position: relative;
}

.conte_logos_f{
    top: -45px;
    position: relative;
    display: none;
}

@media screen and (max-width: 600px){
	.conte_logos{
   top: 23px;
}
}

@media screen and (max-width: 520px){
	.conte_logos{
   display: none;
}
.conte_logos_f{
   display: block;
}
}

@media screen and (max-width: 420px){
	.conte_logos_f{
		right: -55px;
   
}
}

@media screen and (max-width: 365px){
	.conte_logos_f{
       right: -85px;
}
.logos_png_f {
    width: 14%;
}
.cop{
	left: -18px;
	position: relative;
}
}

.tittle{
	
      color: rgb(104, 1, 1);
      font-size: 25px;
      font-weight: bold;
}

.font_18{
	font-size: 18px;
}

.cont_text{
	    position: relative;
    top: -24px;
}
.responsive-img {
  max-width: 100%;
  height: auto;
}
