/* Ocultar botón radio */


.divi{
  border-top: 1px solid rgba(141, 2, 2, 0.404);
  height: 2px;
  max-width: 90%;
  padding: 0;
  margin: 1px auto 0 auto;
  position: relative;
  bottom: 17px;
}

input[id^="spoiler"]{
    display: none;
    }
    input[id^="spoile1"]{
        display: none;
        }
    /* Estilo botón clicable */
    input[id^="spoiler"] + label {
        color: cornsilk;
    display: inline-block;
    width: 600px;
    margin: 15px;
    padding: 10px ;
    background: #ff04268f;
    cursor: pointer;

    position:relative;
    
    left: 2%;
  

    margin-left: 15px;
    border-radius: 10px;
    transition: all 2s ease-out;
    border: 6px solid transparent;
    border-left-color: #b10312fd;
    content: '';
    text-align: center;
    
 
    
    }
    input[id^="spoiler2"]{
        display: none;
        }
        input[id^="spoile1"]{
            display: none;
            }
        /* Estilo botón clicable */
        input[id^="spoiler"] + label {
            color: cornsilk;
        display: inline-block;
        width: 800px;
        margin: 15px;
        padding: 10px ;
        background: #ff04268f;
        cursor: pointer;
    
        position:relative;
        
        left: 2%;
      
    
        margin-left: 15px;
        border-radius: 10px;
        transition: all 2s ease-out;
        border: 6px solid transparent;
        border-left-color: #b10312fd;
        content: '';
        text-align: center;
        
     
        
        }
    input[id^="spoiler3"] + label {
        color: cornsilk;
    display: inline-block;
    width: 500px;
    margin: 1px;
    padding: 10px ;
    background: #ff04268f;
    cursor: pointer;

    position:relative;
    
    left: 1px;
  

    margin-left: 1px;
    border-radius: 10px;
    transition: all 2s ease-out;
    border: 6px solid transparent;
    border-left-color: #b10312fd;
    content: '';
    text-align: center;
    
 
    
    }
    input[id^="spoiler4"] + label {
        color: cornsilk;
    display: inline-block;
    width: 500px;
    margin: 1px;
    padding: 10px ;
    background: #ff04268f;
    cursor: pointer;

    position:relative;
    
    left: 1px;
  

    margin-left: 1px;
    border-radius: 10px;
    transition: all 2s ease-out;
    border: 6px solid transparent;
    border-left-color: #b10312fd;
    content: '';
    text-align: center;
    
 
    
    }

    input[id^="spoiler6"] + label {
        color: cornsilk;
    display: inline-block;
    width: 500px;
    margin: 1px;
    padding: 10px ;
    background: #ff04268f;
    cursor: pointer;

    position:relative;
    
    left: 1px;
  

    margin-left: 1px;
    border-radius: 10px;
    transition: all 2s ease-out;
    border: 6px solid transparent;
    border-left-color: #b10312fd;
    content: '';
    text-align: center;
    
 
    
    }

    input[id^="spoiler7"] + label {
        color: cornsilk;
    display: inline-block;
    width: 500px;
    margin: 1px;
    padding: 10px ;
    background: #ff04268f;
    cursor: pointer;

    position:relative;
    
    left: 1px;
  

    margin-left: 1px;
    border-radius: 10px;
    transition: all 2s ease-out;
    border: 6px solid transparent;
    border-left-color: #b10312fd;
    content: '';
    text-align: center;
    
 

    }

    input[id^="spoiler8"] + label {
        color: cornsilk;
    display: inline-block;
    width: 500px;
    margin: 1px;
    padding: 10px ;
    background: #ff04268f;
    cursor: pointer;

    position:relative;
    
    left: 1px;
  

    margin-left: 1px;
    border-radius: 10px;
    transition: all 2s ease-out;
    border: 6px solid transparent;
    border-left-color: #b10312fd;
    content: '';
    text-align: center;
    
 
    
    }

    input[id^="spoiler9"] + label {
        color: cornsilk;
    display: inline-block;
    width: 500px;
    margin: 1px;
    padding: 10px ;
    background: #ff04268f;
    cursor: pointer;

    position:relative;
    
    left: 1px;
  

    margin-left: 1px;
    border-radius: 10px;
    transition: all 2s ease-out;
    border: 6px solid transparent;
    border-left-color: #b10312fd;
    content: '';
    text-align: center;
    
 
    
    }
    /* Estilo botón cuando su INPUT está seleccionado */
    input[id^="spoiler"]:checked + label {
    color: rgb(255, 255, 255);
    background: #b10312fd;
    }
   
    input[id^="spoile1"]:checked + label {
        color: rgb(255, 255, 255);
        background: #b10312fd;
        }
    /* Estilo caja SPOILER (inicialmente oculto) */
    input[id^="spoiler"] ~ .spoiler {
    width: 90%;
    height: 0;
    overflow: hidden;
    opacity: 0;
    margin: 0 auto 0;
    border-left-color: none;.
    
    
    }

    input[id^="spoiler"] ~ .spoile1 {
        width: 90%;
        height: 0;
        overflow: hidden;
        opacity: 0;
        margin: 0 auto 0;
        border-left-color: none;.
        
        
        }
    /* Estilo caja SPOILER cuando su INPUT está seleccionado */
    input[id^="spoiler"]:checked + label + .spoiler{
        width: 90%;
        padding: 10px;
        margin: auto;
        margin-right: 100px;
        display: block;

    border-radius: 10px;
    height: 100%;
    opacity: 1;
    text-align: center;
    position:relative;
    
    left: 0;
    right: 0;
    }

    input[id^="spoiler"]:checked + label + .spoile1{
        width:100%;
        padding: 10px;
        margin: 10px;
       height: auto;
        display: inline-block;
  
    border-radius: 10px;
   
    opacity: 1;
    text-align: left;
    position:relative;
    
    
    }
    .simbolo h1{
        padding: 15px;
        font-size: 30px;
        text-align: center;
        color: rgb(141, 2, 2);
    }
    span{
        text-align: center;
    }

    .spoiler p{
        text-align: center;
        color: rgb(255, 255, 255);
      
    }

    .spoile1 p{
        text-align: left;
        color: rgb(255, 255, 255);
      
    }
    .spoiler span{
       
        background: #ff044f8f;
        color: rgb(255, 254, 254);
        border-radius: 5px;
      
        width: 45px;
        height: 20px;

       
        font-weight: 30;
        
      }
     

/* Globals */

  
 
  
  p {
    max-width: 60ch;
  }
  
  a {
    color: currentcolor;
  }
  
  /* Utilities */
  .auto-grid {
  
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--auto-grid-min-size, 33rem ), 1fr));
     
    grid-gap: var(--auto-grid-gap, 3px);
    padding: 0;
  
  }

  .auto-grid1 {
  
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--auto-grid-min-size, 33rem ), 1fr));
     
    grid-gap: var(--auto-grid-gap, 3px);
    padding: 0;
  
  }

  .auto-grid2 {
  
    display: grid;
    grid-template-columns: repeat(
     
      minmax(var(--auto-grid-min-size, 33rem ), 1fr));
     
    grid-gap: var(--auto-grid-gap, 3px);
    padding: 0;
    justify-items: center;
  
  }
  .imgprincipal img{

    display: block;
    width: 30%;
  }
  
 
  .flow > * + * {
    margin-top: var(--flow-space, 1em);
  }
  
  /* Composition */
  .team {
    --flow-space: 2em;
  }
  
  /* Blocks */
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    aspect-ratio: 1/1;
    position: relative;
    padding: 1.5rem;
    color: #ffffff;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    text-decoration: none;
    overflow: hidden;
  }
  
  .profile::before,
  .profile::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    /*inset: 0;*/
    top: 0;
    left: 0;
  }
 
  .profile::before {
   
  
    background: linear-gradient(
      to top,
      
      hsl(0 0% 0% / 0.79) 0%,
      hsl(0 0% 0% / 0.787) 7.8%,
      hsl(0 0% 0% / 0.779) 14.4%,
      hsl(0 0% 0% / 0.765) 20.2%,
      hsl(0 0% 0% / 0.744) 25.3%,
      hsl(0 0% 0% / 0.717) 29.9%,
      hsl(0 0% 0% / 0.683) 34.3%,
      hsl(0 0% 0% / 0.641) 38.7%,
      hsl(0 0% 0% / 0.592) 43.3%,
      hsl(0 0% 0% / 0.534) 48.4%,
      hsl(0 0% 0% / 0.468) 54.1%,
      hsl(0 0% 0% / 0.393) 60.6%,
      hsl(0 0% 0% / 0.31) 68.3%,
      hsl(0 0% 0% / 0.216) 77.3%,
      hsl(0 0% 0% / 0.113) 87.7%,
      hsl(0 0% 0% / 0) 100%
    );
    transition: 300ms opacity linear;
  }
  
  .profile::after {
    
    text-decoration: none;
    opacity: 0;
    transition: 300ms opacity linear;
  }
  
  .profile > * {
    z-index: 1;
  }
  
  .profile img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: -1;
    -o-object-fit: cover;
       object-fit: cover;
    filter: grayscale(1);
    transition: filter 200ms ease, transform 250ms linear;
  }
  
  .profile h2,
  .profile p {
    transform: translateY(2ex);
  }
  
  .profile h2 {
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: 900;
    letter-spacing: 0.03ch;
    transition: 300ms transform ease;
  
  }
  
  .profile p {
    font-size: 15px;
    font-weight: 500;
    
  }
  
  .profile p {
    opacity: 0;
    transition: 300ms opacity linear, 300ms transform ease-in-out;
    
  }
  
  .profile:focus {
    outline: 0.5rem solid rgb(192, 139, 139);
    outline-offset: -0.5rem;

  }
  
  .profile:hover :is(h2, p),
  .profile:focus :is(h2, p) {
    transform: none;
    text-decoration: none;
  }
  
  .profile:hover::after,
  .profile:focus::after,
  .profile:hover::before,
  .profile:focus::before {
    opacity: 1.7;
    text-decoration: none;
  }
  
  .profile:hover p,
  .profile:focus p {
    opacity: 1;
    transition-delay: 200ms;
  }
  
  .profile:hover img,
  .profile:focus img {
    filter: grayscale(0);
    transform: scale(1.05) rotate(1deg);
  }



     @media screen and (max-width:1000px) {

        input[id^="spoiler"] + label {
       
        
            width: 50%;
            height: 50%;
         

        }

        input[id^="spoiler"]:checked + label {
            display: flex;
            left: 30%;
            width: 50%;
            height: 50%;
            flex-direction: column;
    justify-content: center;
    align-items: center;
        }
           input[id^="spoiler"]:checked + label + .spoiler{
            display: flex;
            left: -10%;
            width: 70%;
            height: 50%;
            flex-direction: column;
    justify-content: center;
    align-items: center;
           }
           input[id^="spoiler"]:checked + label + .spoile1{
            display: flex;
            left: 50px;
            width: 100%;
            height: 50%;
            flex-direction: column;
    justify-content: center;
    align-items: center;
           }

           .spoile1 p{
               font-size: 10px;
            text-align: left;
            color: rgb(255, 255, 255);
          
        }

        
     
      }
